<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>TIRGANI parking V00</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>TestServlette</display-name>
    <servlet-name>TestServlette</servlet-name>
    <servlet-class>controler.TestServlette</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlette</servlet-name>
    <url-pattern>/TestServlette</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PlaceServellet</display-name>
    <servlet-name>PlaceServellet</servlet-name>
    <servlet-class>controler.PlaceServellet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceServellet</servlet-name>
    <url-pattern>/PlaceServellet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServelett</display-name>
    <servlet-name>LoginServelett</servlet-name>
    <servlet-class>controler.LoginServelett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelett</servlet-name>
    <url-pattern>/LoginServelett</url-pattern>
  </servlet-mapping>
</web-app>